<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import" href="/client/patient-demographics.html">
<link rel="import" href="/client/patient-medications.html">
<link rel="import" href="/client/patient-vitals.html">


<dom-module id="patient-health">

    <template>
        <!-- scoped CSS for this element -->
        <style>
            :host {

            }
            .container {
                @apply(--layout-horizontal);
            }
            .flexchild {
                @apply(--layout-flex);
            }

        </style>
        <div>
            <h1>Patient Details</h1>
            <div><patient-demographics id="patientDemographics"></patient-demographics></div>
            <div class="flexchild"><patient-medications id="patientMedications"></patient-medications></div>
            <div> <patient-vitals id="patientVitals"></patient-vitals></div>
        </div>
    </template>

    <script>
        class PatientHealth extends Polymer.Element {
            static get is() { return "patient-health"; }
            static get properties() {
                return {
                    patientId: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_onPatientChanged'
                    }
                }
            }

            _onPatientChanged(e) {
                if(e === "") { return;}
                this.$.patientMedications.patientId = e;
                this.$.patientVitals.patientId = e;
                this.$.patientDemographics.patientId = e;
            }

        }
        customElements.define(PatientHealth.is, PatientHealth);
    </script>

</dom-module>