<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import"  href="https://polygit.org/components/iron-ajax/iron-ajax.html">


<dom-module id="patient-medications">

    <template>
        <!-- scoped CSS for this element -->
        <style>
            :host {
                display: block;
                padding: 10px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                margin: 24px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                font-size: 22px;
                margin: 16px 0;
                color: #212121;
            }
        </style>

        <div class="card">
            <h2>Medication History</h2>

            <iron-ajax
                    url="{{url}}"
                    handle-as="json"
                    last-response="{{medications}}"
                    id = "requestMedications"
                    debounce-duration="300">
            </iron-ajax>
            <table class="table">
                    <tr>
                        <th>Medicine</th>
                        <th>Dose</th>
                        <th>Start Date</th>
                        <th>Stop Date</th>
                    </tr>
                <template is="dom-repeat" id="medications" items="{{medications}}">
                    <tr>
                        <td>{{item.medname}}</td>
                        <td>{{item.dose}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.stopDate}}</td>
                    </tr>

                </template>
            </table>

        </div>
    </template>

    <script>
        class PatientMedications extends Polymer.Element {
            static get is() { return "patient-medications"; }
            static get properties() {
                return {
                    medications: {
                        type: Array
                    },
                    patientId: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_onPatientChanged'
                    },
                    url: {
                        computed: '_computeUrl(patientId)'
                    }

                }
            }


            _onPatientChanged(e) {
                if(e === "") { return;}
                this.$.requestMedications.generateRequest()
            }

            _computeUrl(patientId) {
                return '/patients/' + patientId + '/medications';
            }

        }
        customElements.define(PatientMedications.is, PatientMedications);
    </script>

</dom-module>