<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import"  href="https://polygit.org/components/iron-ajax/iron-ajax.html">


<dom-module id="patient-demographics">

    <template>
        <!-- scoped CSS for this element -->
        <style>
            :host {
                display: block;
                padding: 10px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                margin: 24px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                font-size: 22px;
                margin: 16px 0;
                color: #212121;
            }
        </style>
        <div class="card">
            <iron-ajax
                    url="{{url}}"
                    handle-as="json"
                    last-response="{{demographics}}"
                    id = "requestDemographics"
                    debounce-duration="300">
            </iron-ajax>

            <h2>Demographics</h2>
            <div>First Name: <span>{{demographics.firstName}}</span></div>
            <div>Last Name: <span>{{demographics.lastName}}</span></div>
            <div>Town: <span>{{demographics.town}}</span></div>
        </div>


    </template>

    <script>
        class PatientDemographics extends Polymer.Element {
            static get is() { return "patient-demographics"; }
            static get properties() {
                return {
                    demographics: {
                        type: Object
                    },
                    patientId: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_onPatientChanged'
                    },
                    url: {
                        computed: '_computeUrl(patientId)'
                    }

                }
            }


            _onPatientChanged(e) {
                if(e === "") { return;}
                this.$.requestDemographics.generateRequest()
            }

            _computeUrl(patientId) {
                return '/patients/' + patientId;
            }

        }
        customElements.define(PatientDemographics.is, PatientDemographics);
    </script>

</dom-module>