<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import"  href="https://polygit.org/components/iron-ajax/iron-ajax.html">
<link rel="import"  href="https://polygit.org/components/iron-input/iron-input.html">

<dom-module id="patient-vitals">

    <template>
        <!-- scoped CSS for this element -->
        <style>
            :host {
                display: block;
                padding: 10px;
            }
            .card {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                padding: 16px;
                margin: 24px;
                border-radius: 5px;
                background-color: #fff;
                color: #757575;
            }
            h1 {
                font-size: 22px;
                margin: 16px 0;
                color: #212121;
            }
        </style>
        <div class="card">
            <iron-ajax
                    url="{{url}}"
                    handle-as="json"
                    last-response="{{vitals}}"
                    id = "requestVitals"
                    debounce-duration="300">
            </iron-ajax>

            <h2>Vitals</h2>
            <div>Temperature:
                <span>
                    <input value="{{vitals.temperature::input}}" placeholder="Enter ex. 98F">
                </span>
            </div> <!-- TODO: Split value and units -->
            <div>Pulse:
                <span>
                    <input value="{{vitals.pulse::input}}" placeholder="Enter ex. 120bpm">
                </span>
            </div> <!-- TODO: Split value and units -->

            <button class="btn btn-info" on-click="_submit" id="save">Save</button> <span>[[message]]</span>

            <iron-ajax id="putVitals" url="{{url}}" method="PUT" content-type="application/json" on-response="_handleResponse" on-error="_handleError"
            ></iron-ajax>

        </div>


    </template>

    <script>
        class PatientVitals extends Polymer.Element {
            static get is() { return "patient-vitals"; }
            static get properties() {
                return {
                    vitals: {
                        type: Object,
                        notify: true
                    },
                    patientId: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: '_onPatientChanged'
                    },
                    url: {
                        computed: '_computeUrl(patientId)'
                    },
                    message: {
                        type: String,
                        value: ''
                    }

                }
            }


            _onPatientChanged(e) {
                if(e === "") { return;}
                this.message = '';
                this.$.requestVitals.generateRequest();
            }

            _computeUrl(patientId) {
                return '/patients/' + patientId + '/vitals';
            }

            _submit() {
                //TODO: validation; split value and units
                this.$.putVitals.body = this.vitals;
                this.$.putVitals.generateRequest();
            }

            _handleResponse() {
                this.message= "Saved.";
                this.$.requestVitals.generateRequest();
            }

            _handleError(error) {
                console.log(error);
                this.message="Failed!"
            }

        }
        customElements.define(PatientVitals.is, PatientVitals);
    </script>

</dom-module>