<link rel="import"  href="https://polygit.org/components/polymer/polymer-element.html">
<link rel="import"  href="https://polygit.org/components/iron-ajax/iron-ajax.html">


<dom-module id="patients-health">

    <template>
        <!-- scoped CSS for this element -->
        <style>
            :host {

            }
        </style>
        <iron-ajax
                auto
                url="/patients"
                handle-as="json"
                last-response="{{patients}}"
                id = "requestPatients"
                debounce-duration="300">
        </iron-ajax>
        <h1>Patient Lists</h1>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Town</th>
            </tr>
            <template is="dom-repeat" id="patients" items="{{patients}}">
               <tr>
                   <td>{{item.firstName}}</td>
                   <td>{{item.lastName}}</td>
                   <td>{{item.town}}</td>
                   <td><button raised="true" on-click="_triggerSelected">Details</button></td>
               </tr>
            </template>
        </table>
        <array-selector id="patientSelector" items="{{patients}}}" selected="{{selectedPatient}}" multi toggle></array-selector>

    </template>

    <script>
        class PatientsHealth extends Polymer.Element {
            static get is() { return "patients-health"; }
            static get properties() {
                return {
                    patients: {
                        type: Array
                    },
                    selectedId: {
                        type: String,
                        notify: true
                    },
                    selectedPatient: Object
                }
            }

            _triggerSelected(e) {
                let id = e.model.get('item._id');
                this.selectedId = id;
                this.dispatchEvent(new CustomEvent('patientChanged', {detail: {id: id}}));
          }

        }
        customElements.define(PatientsHealth.is, PatientsHealth);

    </script>

</dom-module>